version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=mysql://root:secret@db:33061/prisma_api
      - NODE_ENV=production
    depends_on:
      - db
    ports:
      - "3000:3000"

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=prisma_api
    ports:
      - "33062:3306"
    volumes:
      - db-data:/var/lib/mysql
volumes:
  db-data:
