version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=mysql://root:secret@db:3306/task_manager
      - NODE_ENV=production
      - ISSUER_BASE_URL=https://dev-tjw1ua672bmrxyke.us.auth0.com
      - AUDIENCE=task-manager-api
      - APP_SECRET=cmkh8yatl0000ckowwhl4k4ku.grr3neigne9g3jgi
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=secret
      - MYSQL_DATABASE=task_manager
    ports:
      - "33062:3306"
    volumes:
      - db-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 30s
volumes:
  db-data:
